.menugroup .button{
	background:#0074D9;
}

.menugroup .button:hover{
	background:#001F3F;
}
body 	
{
background-image:url('http://i667.photobucket.com/albums/vv34/Cirrus_Maximilian/Wallpapers/Stars.gif');
background-repeat:no-repeat;
background-position:center fixed;
}
